.about_section {
  padding: 40px;
  display: flex;
  justify-content: center;
  padding: "0px !important";
}

.about_container {
  max-width: 1200px;
  width: 100%;
  padding-top: 50px;
}

.about_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.about_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.constant_text {
  font-weight: 700;
  font-size: x-large;
  text-align: center;
  padding: 45px;
}

.light .constant_text {
  color: #0077b5;
}

.dark .constant_text {
  color: #1ddadc;
}

.about_image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ddd;
  /* box-shadow:
    rgba(117, 165, 224, 0.15) 0px 3px 6px,
    rgba(43, 97, 163, 0.22) 0px 2px 8px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* Typing Effect Styles */
.typing_effect {
  position: absolute;
  top: 60%;
  left: 53%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 250px;
  justify-content: center;
}

.light .typing_effect {
  color: #0077b5;
}

.dark .typing_effect {
  color: #cf9b09;
}

@media (max-width: 768px) {
  .about_image_wrapper {
    flex-direction: column;
    text-align: center;
  }

  .constant_text {
    font-size: large;
  }

  .typing_effect {
    padding-top: 20px; /* Adjust padding if necessary */
    position: static; /* Move typing effect below the image */
    transform: none; /* Reset the transform */
    font-size: large;
  }
}

.about_content {
  padding: 20px;
  border-radius: 12px;
  /* Custom box-shadow to exclude the top */
  box-shadow:
    rgba(0, 0, 0, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.big_title {
  font-size: 1.8em;
  font-weight: 700;
}

.about_description {
  font-size: 1.1em;
  line-height: 1.8;
}

.personal_info p {
  font-size: 1.1em;
  margin: 8px 0;
}

.skills_title {
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.skills_group {
  flex: 1;
  min-width: 220px;
}

.skills_group h3 {
  font-size: 1.4em;
  margin-bottom: 12px;
  font-weight: 600;
}

.chip_container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill_chip {
  background-color: #0077b5;
  font-weight: 600;
}

.extra_info h2 {
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}

.extra_info p {
  font-size: 1.1em;
  margin: 8px 0;
}

.dark {
  background-color: #393838 !important;
  color: #fff;
}

.light {
  background-color: #fff !important;
  color: #1a1818;
}
