/* 
.card {
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 16px; 
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; 
}


.card:hover {
  transform: translateY(-6px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.titleText {
  color: #0177b5;
}

.dark {
  background-color: #393838 !important;
  color: #fff;
}

.light {
  background-color: #fff !important;
  color: #1a1818;
}
*/

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card.expanded {
  grid-column: span 2; /* Take full width (span all columns) */
  width: 100%; /* Ensure full width is utilized */
}

.titleText {
  color: #0177b5;
}

.dark {
  background-color: #393838 !important;
  color: #fff;
}

.light {
  background-color: #fff !important;
  color: #1a1818;
}
