/* Individual card style */
.card {
  border: 1px solid #ddd; /* Border for the card */
  border-radius: 8px; /* Rounded corners */
  padding: 16px; /* Padding inside the card */
  background-color: #fff; /* Card background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

/* Card hover effect */
.card:hover {
  transform: translateY(-6px); /* Slight lift effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.titleText {
  color: #0177b5;
}

.dark {
  background-color: #393838 !important;
  color: #fff;
}

.light {
  background-color: #fff !important;
  color: #1a1818;
}
