/* 
.card_container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  ); 
  gap: 16px;
  padding: 16px; 
}

.dark {
  background-color: #393838 !important;
  color: #fff;
}

.light {
  background-color: #fff !important;
  color: #1a1818;
}

 */

/* Container for the cards */
.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 16px;
  padding: 16px;
}

.card.expanded {
  grid-column: 1 / -1; /* Span all columns when expanded */
}
