.meter_wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0 4px 8px rgba(214, 28, 28, 0.2);
  border-radius: 20px;
  padding-right: 20px;
}

.meter_digits {
  display: flex;
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.meter_box {
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  margin: 0 2px;
}

@media (max-width: 600px) {
  .meter_wrapper {
    padding: 5px;
  }

  .meter_digits {
    font-size: 1rem;
  }

  .meter_box {
    width: 25px;
    height: 35px;
  }
}
